table.table td {
    vertical-align: middle !important;
}
select {
    height: 3em !important;
}

/*.treeview-menu.menu-open*/
.sidebar-menu .treeview-menu > li > a {
    overflow-x: scroll !important;
}